[submodule "components/telnet/libtelnet"]
	path = components/telnet/libtelnet
	url = https://github.com/seanmiddleditch/libtelnet
	branch = develop
[submodule "components/esp-dsp"]
	path = components/esp-dsp
	url = https://github.com/philippe44/esp-dsp.git
[submodule "components/wifi-manager/UML-State-Machine-in-C"]
	path = components/wifi-manager/UML-State-Machine-in-C
	url = https://github.com/kiishor/UML-State-Machine-in-C
[submodule "components/wifi-manager/webapp/src/bootswatch"]
	path = components/wifi-manager/webapp/src/bootswatch
	url = https://github.com/thomaspark/bootswatch.git
